# ユーザー一覧を更新する

- input
  - なし
- output
  - stat.ink から最近投稿したユーザーを取得し csv (`USER_DATA_PATH`) に追記する

In [1]:
import src.scraping as s

s.update_user_list()

In [3]:
import pandas as pd
import src.constants as c

pd.read_csv(c.USER_DATA_PATH)

            Username
0           kururux2
1                Qoo
2          hellen695
3              zunda
4    uzuki_shimamura
..               ...
700              bae
701     builttospill
702          uninuts
703            spla3
704            tttza

[705 rows x 1 columns]